@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

button {
  cursor: pointer;
}

/* header */
header nav li {
  text-transform: uppercase;
}

/* featured */
.featured-image {
  /* background-image: url('./assets/home/featured.jpg'); */
  background: linear-gradient(rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url('./assets/home/featured.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}